#!/bin/csh -f

#
# default configuration file
#

setenv TRANSMODE        full
setenv TRANSOUTPUTDIR   ${DBUTILS}/mgidbmigration/TR11248/fxnClass
setenv TRANSINPUTFILE   ${TRANSOUTPUTDIR}/fxnClass.goodbad
setenv TRANSLOG   	${TRANSOUTPUTDIR}/fxnClassTrans.log

setenv TRANSTYPENAME    "SNP Function Class"
setenv TRANSMGITYPE     "Vocabulary Term"
setenv VOCABNAME        "SNP Function Class"
setenv TRANSCOMPRESSION ""
setenv CREATEDBY        "dbsnp_load"
