#!/bin/sh

#
# Program: fxnClassDag.config
#
# Purpose:
#
#   Configuration file for SNP Function Class DAG load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for Fxn Class load
#
# Assumes: environment variables referenced  have been set
#          
# History:
#
#	10/12/2005	sc
#	- new Configuration file
#

cd `dirname $0` 

RUNTIME_DIR="${DBUTILS}/mgidbmigration/TR11248/fxnClass"
ARCHIVE_DIR="${DBUTILS}/mgidbmigration/TR11248/fxnClass/archive"

export RUNTIME_DIR
export ARCHIVE_DIR

RCD_FILE="${{DBUTILS}/mgidbmigration/TR11248/fxnClass/fxnClassDag.rcd"
RCD_FILE="${INSTALLDIR}/fxnClassDag.rcd"
MAINTAINER="mgiadmin@jax.org"

export RCD_FILE
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="SNP Function Class"	# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=1001	# name of note types for comments
ACC_PREFIX="SM"		# acc ID prefix
JNUM="J:23000"		# reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should be a .rcd file
IS_PRIVATE=1		# acc IDs are public
LOGICALDB_KEY=79	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key
DAG_ROOT_ID="SM:0000000"

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY
export DAG_ROOT_ID

TERM_FILE="${RUNTIME_DIR}/SNP_FXN_Termfile"
DEFS_FILE="${SNP_DATA_DIR}/SNP_FXN_DAG.def"

export TERM_FILE
export DEFS_FILE

