#!/bin/sh

#
# Program: subHandle.config
#

RUNTIME_DIR="${DBUTILS}/mgidbmigration/TR11248/fxnClass"
ARCHIVE_DIR="${DBUTILS}/mgidbmigration/TR11248/fxnClass/archive"
export RUNTIME_DIR
export ARCHIVE_DIR

MAINTAINER="mgiadmin@jax.org"
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="SNP Submitter Handle"
VOCAB_COMMENT_KEY=0
JNUM="J:23000"
IS_SIMPLE=1
IS_PRIVATE=0
LOGICALDB_KEY=77
CREATED_BY=${CREATEDBY}

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export CREATED_BY

DATA_FILE="${DBUTILS}/mgidbmigration/TR11248/fxnClass/subHandle.vocab.in"
TERM_FILE="${DBUTILS}/mgidbmigration/TR11248/fxnClass/subHandle.vocab.out"
DAG_ROOT_ID=""

export DATA_FILE
export TERM_FILE
export DAG_ROOT_ID

