#!/bin/csh -f

#
# default configuration file
#

source ${SETLOAD}/Configuration

setenv SETMODE		load
#setenv SETMODE		preview

setenv LOADDIR          /mgi/all/wts_projects/13000/13007/data/ea_setload
setenv SETOUTPUTDIR     ${LOADDIR}
setenv SETDATADIR       ${LOADDIR}
setenv SETINPUTFILE	${SETDATADIR}/EAlinks.setload.txt
setenv SETLOG		${SETDATADIR}/EAlinks.setload.log
setenv SETNAME		"Expression Atlas Experiments"
setenv SETTYPE		"GXD HT Experiment"
setenv CREATEDBY	cms

