#!/bin/sh

#
# Program: LT.config
#
# Purpose:
#
#   Configuration file for Adult Mouse Anatomy Load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for IP load
#
# History:
#
#	03/25/2003	lec
#	- new Configuration file
#

cd `dirname $0` 

RUNTIME_DIR="/home/sc/work/dbutils/mgidbmigration/tr13204/test_vocload"
#RUNTIME_DIR="/usr/local/mgi/live/dbutils/mgidbmigration/tr13204/test_vocload"
ARCHIVE_DIR="${RUNTIME_DIR}"

export RUNTIME_DIR
export ARCHIVE_DIR

LOAD_PROGRAM="${LOAD_PROGRAM}"
export LOAD_PROGRAM

case `uname -n` in
bhmgiapp01) MAINTAINER="mgiadmin";;
*) MAINTAINER="$USER";;
esac
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="Lit Triage Erratum : exclude"		# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=0     # name of note types for comments
JNUM="J:23000"		# reference for this vocabulary
IS_SIMPLE=1		# structured vocabulary
IS_PRIVATE=0		# acc IDs are public LOGICALDB_KEY=28	# ACC_LogicalDB._LogicalDB_key
LOGICALDB_KEY=1       # ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0     # VOC_AnnotType._AnnotType_key; report annotations to newly obsoleted terms

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY

DATA_FILE="${RUNTIME_DIR}/LTE.exclude.tab"
TERM_FILE="${RUNTIME_DIR}/Termfile"
DAG_ROOT_ID=""

export IP_FILE
export DATA_FILE
export TERM_FILE
export DAG_ROOT_ID
