#format: sh
#
# biotypemapping.config
#
# configuration variables used by 'bin/biotypemapping.py '
#

# destination area for curator sanity checks
DESTFILEDIR=/mgi/all/wts_projects/12700/12734/lec
DESTCURRENTDIR=${DESTFILEDIR}
export DESTFILEDIR DESTCURRENTDIR

# Complete path name of the biotypemapload log files
BIOTYPELOG_DIAG=${LOGDIR}/biotypemapload.diag.log
BIOTYPELOG_ERROR=${LOGDIR}/biotypemapload.error.log

export BIOTYPELOG_DIAG BIOTYPELOG_ERROR

# Full path to the default input file.
# This is where the publish script places the file
BIOTYPEINPUT_FILE_NAME=biotypemap.txt
BIOTYPEINPUT_FILE_DEFAULT=${DESTCURRENTDIR}/${BIOTYPEINPUT_FILE_NAME}
export BIOTYPEINPUT_FILE_NAME BIOTYPEINPUT_FILE_DEFAULT

# Load Mode:
# 'load' - load data
# 'preview' - not currently used
BIOTYPEMODE=load
BIOTYPETABLE=MRK_BiotypeMapping
BCP_CMD="${PG_DBUTILS}/bin/bcpin.csh ${MGD_DBSERVER} ${MGD_DBNAME}"
export BIOTYPEMODE BIOTYPETABLE BCP_CMD

