#!/bin/csh -f

#
# default configuration file
#

setenv TRANSMODE        full
setenv TRANSINPUTFILE   ${DBUTILS}/mgidbmigration/snpfunctionclass/fxnClass.goodbad
setenv TRANSLOG   	${DBUTILS}/mgidbmigration/snpfunctionclass/fxnClassTrans.log
setenv TRANSOUTPUTDIR   ${DBUTILS}/mgidbmigration/snpfunctionclass

setenv TRANSTYPENAME    "SNP Function Class"
setenv TRANSMGITYPE     "Vocabulary Term"
setenv VOCABNAME        "SNP Function Class"
setenv TRANSCOMPRESSION ""
setenv CREATEDBY        "rmb"
