#!/bin/csh -f

#
# default configuration file
#

source ${SETLOAD}/Configuration

setenv SETMODE		load
#setenv SETMODE		preview

setenv LOADDIR          /mgi/all/wts_projects/13000/13007/data/rnaseq_setload
setenv SETOUTPUTDIR     ${LOADDIR}
setenv SETDATADIR       ${LOADDIR}
setenv SETINPUTFILE	${SETDATADIR}/RNASeq_Experiments_from_Connie.setload.txt
setenv SETLOG		${SETDATADIR}/RNASeq_Experiments_from_Connie.setload.log
setenv SETNAME		"RNASeq Load Experiments"
setenv SETTYPE		"GXD HT Experiment"
setenv CREATEDBY	cms

