#!/bin/sh

#
# Program: inheritance.config
#

RUNTIME_DIR="${MIGRATIONDIR}/vocload"
ARCHIVE_DIR="${MIGRATIONDIR}/vocloadarchive"
export RUNTIME_DIR
export ARCHIVE_DIR

MAINTAINER="lec@informatics.jax.org"
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="Allele Inheritance Mode"
VOCAB_COMMENT_KEY=0
JNUM="J:23000"
IS_SIMPLE=1
IS_PRIVATE=0
LOGICALDB_KEY=-1
CREATED_BY=${CREATEDBY}

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export CREATED_BY

DATA_FILE="${MIGRATIONDIR}/inheritance.in"
TERM_FILE="${RUNTIME_DIR}/inheritance.out"
DAG_ROOT_ID=""

export DATA_FILE
export TERM_FILE
export DAG_ROOT_ID

