#!/bin/csh -f

#
# default configuration file
#

source ${NOTELOAD}/Configuration

setenv NOTEMODE         load
setenv NOTEDATADIR      ${MGI_LIVE}/dbutils/mgidbmigration/tr13349
setenv NOTEINPUTDIR     ${MGI_LIVE}/dbutils/mgidbmigration/tr13349
setenv NOTEINPUTFILE    ${NOTEINPUTDIR}/probenote.txt
setenv NOTELOG          ${MGI_LIVE}/dbutils/mgidbmigration/tr13349/probenote.txt.log
setenv NOTETYPE         "General"
setenv NOTEOBJECTTYPE   Segment
