#!/bin/csh -f

#
# default configuration file
#

setenv TRANSMODE        full
setenv TRANSINPUTFILE   fxnClass.goodbad
setenv TRANSLOG   	fxnClassTrans.log
# TRANSOUTPUTDIR in environment

setenv TRANSTYPENAME    "SNP Function Class"
setenv TRANSMGITYPE     "Vocabulary Term"
setenv VOCABNAME        "SNP Function Class"
setenv TRANSCOMPRESSION ""
setenv CREATEDBY        "dbsnp_load"
