#!/bin/csh -f

#
# default configuration file
#

#setenv TRANSMODE        fullest
setenv TRANSMODE        full
setenv TRANSINPUTFILE   ${DBSNPLOAD}/data/fxnClass.goodbad
setenv TRANSLOG   	${LOGDIR}/fxnClassTrans.log
# TRANSOUTPUTDIR in environment

setenv TRANSTYPENAME    "SNP Function Class"
setenv TRANSMGITYPE     "Vocabulary Term"
setenv VOCABNAME        "SNP Function Class"
setenv TRANSCOMPRESSION ""
setenv CREATEDBY        "dbsnp_load"
