#!/bin/sh

#
# Program: gxdpriority.config
#

RUNTIME_DIR="/home/lec/db/mgidbmigration/MGI2.97/vocload"
ARCHIVE_DIR="/home/lec/db/mgidbmigration/MGI2.97/vocloadarchive"
export RUNTIME_DIR
export ARCHIVE_DIR

MAINTAINER="lec@informatics.jax.org"
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="GXD Index Priority"
VOCAB_COMMENT_KEY=0
JNUM="J:23000"
IS_SIMPLE=1
IS_PRIVATE=1
LOGICALDB_KEY=1

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY

DATA_FILE="/home/lec/db/mgidbmigration/MGI2.97/indexpriority.in"
TERM_FILE="${RUNTIME_DIR}/indexpriority.out"
DAG_ROOT_ID=""

export DATA_FILE
export TERM_FILE
export DAG_ROOT_ID

