#!/bin/csh -f

setenv ANNOTDATADIR             .
setenv ANNOTMODE                new
#setenv ANNOTMODE                preview
setenv ANNOTTYPENAME            "GO/Marker"
setenv ANNOTPROPERTY            82
setenv DELETEREFERENCE          "J:0"
setenv DELETEUSER               "none%"
setenv ANNOTOBSOLETE            0
setenv ANNOTINPUTFILE           gored.annot
setenv ANNOTLOG                 gored.log

